<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap.min.css">
    <style>
        div[v-cloak] {
            visibility: hidden;
        }
    </style>
    <title>Guess</title>
</head>

<body>
    <div id="vApp" v-cloak class="container-fluid">
        <div class="row">
            <div class="col-md-12 pt-4">
                <h1 class="h2 text-center">Table of Elements</h1>
                <div v-if="page==1" class="page-input">
                    <div class="form-group">
                        <label for="list">Type list:</label>
                        <textarea class="form-control" v-model="list" name="list" id="" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="countdown">Countdown:</label>
                        <input type="number" v-model="countdown">
                    </div>
                    <button v-on:click="page=2" class="btn btn-primary">Next</button>
                </div>
                <div v-if="page==2" class="page-game">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="text-right">
                                <div v-bind:style="`font-size: 100px; color: ${color}`">${counter}</div>
                            </div>
                            <div class="text-center mb-5">
                                <div style="font-size: 300px;">${display}</div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>

                    </div>

                    <button v-if="!started" v-on:click="startTimer" class="btn btn-primary">Start</button>
                    <button v-if="started" v-bind:disabled="isBackDisabled" v-on:click="back"
                        class="btn btn-primary">Back</button>
                    <button v-if="started" v-bind:disabled="isNextDisabled" v-on:click="next"
                        class="btn btn-primary">Next</button>
                </div>
            </div>
        </div>
    </div>
    <script src="vue.js"></script>
    <script>
        var vApp = new Vue({
            el: '#vApp',
            delimiters: ["${", "}"],
            mixins: [
            ],
            data: {
                page: 1,
                countdown: 40,
                counter: 0,
                started: false,
                timer: null,
                shuffled: [],
                pointer: 0,
                color: 'black',
                list: `Hydrogen
Helium
Lithium
Beryllium
Boron
Carbon
Nitrogen
Oxygen
Fluorine
Neon
Sodium
Magnesium
Aluminum
Silicon
Phosphorus
Sulfur
Chlorine
Argon
Potassium
Calcium
Scandium
Titanium
Vanadium
Chromium
Manganese
Iron
Cobalt
Nickel
Copper
Zinc
Gallium
Germanium
Arsenic
Selenium
Bromine
Krypton
Rubidium
Strontium
Yttrium
Zirconium
Niobium
Molybdenum
Technetium
Ruthenium
Rhodium
Palladium
Silver
Cadmium
Indium
Tin
Antimony
Tellurium
Iodine
Xenon
Cesium
Barium
Lanthanum
Cerium
Praseodymium
Neodymium
Promethium
Samarium
Europium
Gadolinium
Terbium
Dysprosium
Holmium
Erbium
Thulium
Ytterbium
Lutetium
Hafnium
Tantalum
Wolfram
Rhenium
Osmium
Iridium
Platinum
Gold
Mercury
Thallium
Lead
Bismuth
Polonium
Astatine
Radon
Francium
Radium
Actinium
Thorium
Protactinium
Uranium
Neptunium
Plutonium
Americium
Curium
Berkelium
Californium
Einsteinium
Fermium
Mendelevium
Nobelium
Lawrencium
Rutherfordium
Dubnium
Seaborgium
Bohrium
Hassium
Meitnerium
Darmstadtium 
Roentgenium 
Copernicium 
Nihonium
Flerovium
Moscovium
Livermorium
Tennessine
Oganesson
H
He
Li
Be
B
C
N
O
F
Ne
Na
Mg
Al
Si
P
S
Cl
Ar
K
Ca
Sc
Ti
V
Cr
Mn
Fe
Co
Ni
Cu
Zn
Ga
Ge
As
Se
Br
Kr
Rb
Sr
Y
Zr
Nb
Mo
Tc
Ru
Rh
Pd
Ag
Cd
In
Sn
Sb
Te
I
Xe
Cs
Ba
La
Ce
Pr
Nd
Pm
Sm
Eu
Gd
Tb
Dy
Ho
Er
Tm
Yb
Lu
Hf
Ta
W
Re
Os
Ir
Pt
Au
Hg
Tl
Pb
Bi
Po
At
Rn
Fr
Ra
Ac
Th
Pa
U
Np
Pu
Am
Cm
Bk
Cf
Es
Fm
Md
No
Lr
Rf
Db
Sg
Bh
Hs
Mt
Ds 
Rg 
Cn 
Nh
Fl
Mc
Lv
Ts
Og
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118`
            },
            computed: {
                display: function () {
                    let me = this;
                    return me.shuffled[me.pointer]
                },
                isBackDisabled: function () {
                    let me = this;
                    return me.pointer <= 0
                },
                isNextDisabled: function () {
                    let me = this;
                    return me.pointer >= me.shuffled.length - 1
                }
            },
            methods: {
                reset: function () {

                },
                shuffleArray: function (array) {
                    for (var i = array.length - 1; i > 0; i--) {
                        var j = Math.floor(Math.random() * (i + 1));
                        var temp = array[i];
                        array[i] = array[j];
                        array[j] = temp;
                    }
                    return array
                },
                startTimer: function () {
                    let me = this;
                    me.started = true
                    me.counter = me.countdown
                    let list = me.list.trim()
                    list = me.list.split("\n").filter(a => a)
                    me.shuffled = me.shuffleArray(list)
                    me.timer = setInterval(function () {
                        me.counter -= 1
                        if (me.counter <= 10) {
                            me.color = 'red'
                        } else {
                            me.color = 'black'
                        }
                        if (me.counter <= 0) {
                            clearInterval(me.timer)
                        }
                    }, 1000)
                },
                back: function () {
                    let me = this;
                    if (me.pointer > 0) {
                        me.pointer--
                        me.counter = me.countdown
                    }
                },
                next: function () {
                    let me = this;
                    if (me.pointer <= me.shuffled.length) {
                        me.pointer++
                        me.counter = me.countdown
                        me.color = 'black'
                        if (me.timer) {
                            clearInterval(me.timer)
                        }
                        me.timer = setInterval(function () {
                            me.counter -= 1
                            if (me.counter <= 10) {
                                me.color = 'red'
                            }
                            if (me.counter <= 0) {
                                clearInterval(me.timer)
                            }
                        }, 1000)
                    }
                }
            }
        });
    </script>
</body>

</html>